

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
              <div class="padding">
                <div class="card mb-4 shadow-sm">
                 <strong class="padcenter">{{totalCount}}</strong>
                  <div class="card-body">
                    <p class="card-text">Total Conunts of Battles</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div routerLink = "/list-of-places-component" class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <p class="card-text innertext">List of Kings</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDcYluypbhGzwhKIqUNiUIm9WZyPvjqG1VF7Ax7S9x2rRRTbRb" alt="Card image cap">
              </div>
            </div>
            <div routerLink = "/battle-search" class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <p class="card-text innertext">Search For the Battle Data</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                <img class="card-img-top" src="https://png.pngtree.com/svg/20170206/search_14653.png" alt="Card image cap">
              </div>
            </div>
            <div routerLink = "/stats-component"class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <p class="card-text innertext">Statistical Analysis</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                <img class="card-img-top" src="https://png.pngtree.com/svg/20161128/smart_card_statistics_290242.png" alt="Card image cap">
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </main>
